.song {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.song:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}

.song img {
    width: 100%;
    border-radius: 10px;
}

.song__divisor {
    width: 100%;
    margin: 10px 0;
}

.song__divisor p {
    margin-bottom: 5px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: bold;
    text-align: center;
}