header {
    background-color: #1e1e1e;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.header__container_buscador {
    display: none;
}

.header__container_icons {
    display: flex;
    gap: 15px;
}

i {
    cursor: pointer;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

@media (min-width: 768px) {
    .header__h1 {
        width: 25%;
    }

    .header__container_buscador {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .header__container_buscador #inputSearch {
        padding: 5px 10px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        outline: none;
        width: 200px;
    }

    .header__container_buscador i:hover {
        color: #bbb;
    }

    .header__container_icons {
        width: 25%;
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    .header__container_buscador #inputSearch {
        width: 300px;
    }
}